<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qiyueyu.youchat.mapper.FriendsRequestMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.qiyueyu.youchat.entity.FriendsRequest">
    <result column="id" property="id" />
        <result column="send_user_id" property="sendUserId" />
        <result column="accept_user_id" property="acceptUserId" />
        <result column="request_data_time" property="requestDataTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        send_user_id, accept_user_id, request_data_time
    </sql>

</mapper>
